<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Knowledge Graph</title>
    <link rel="stylesheet" href="../static/styles/bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../static/styles/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/main.css">
  </head>
  <body>
    <div class="nav">
      <p id="mainTitle">Knowledge Graph representation with Question Answering</p>
      <div class="header">
        <p id="creaters">Project by Vibhav Nirmal, Vedant Vachharajani, Stuti Sharma</p>
      </div>
    </div>
    <hr>
    <div class="mainclass">
      <div class="disclaimer">
        <p class="di">Select a paragraph and write your own question.</p>
        <p class="di">The answer is always a subphrase of the paragraph.</p>
        <p class="di">Our Model does not cover all types of sentences as we are in alpha stage.</p>
      </div>
      <form action="{{ url_for('submit') }}" method="post" role="form" id="myForm">
        <div class="row">
          <div class="col-md-8" id="leftQues">
            <div class="row">
              <div class="col-md-2">
                <h4><span class="label">Paragraph</span></h4>
                <!-- <h4><span class="label label-default">Select Paragraph</span></h4> -->
              </div>
              <div class="col-md-10" style="padding-top: 10px;">
                <select class="selectpara" name="para">
                  <option value="ownPara" default>Write Paragraph</option>
                  <option value="dicaprio">DiCaprio</option>
                  <option value="football">Manchester City Football Club</option>
                  <option value="general">General</option>
                </select>
              </div>
            </div>
            <br>
            <textarea placeholder="Select or write your own paragraph" style="resize:none" class="form-control" name="paragraph" id="paragraph" rows="3"></textarea>
            <br>
            <div class="row">
              <div class="col-md-2">
                <h4><span class="label">Question</span></h4>
                <!-- <h4><span class="label label-default">Select Question</span></h4> -->
              </div>
              <div class="col-md-10" style="padding-top: 10px;">
                <select class="selectpara" name="para">
                  <option value="ownQues" default>Write Question</option>
                  <option value="dicaprio">Who acted in biopics?</option>
                  <option value="football">Where is Manchester City Football Club located?</option>
                  <option value="general">What did John buy?</option>
                </select>
              </div>
            </div>
            <br>
            <textarea placeholder="Select or ask your own question" style="resize:none" class="form-control" name="question" id="question" rows="1"></textarea>

            <br>
            <button id="btnSubmit" type="submit" name="submit" class="btn btn-sm">Submit</button>
            <button id="btnClear" type="clear" name="clear" class="btn btn-sm">Clear</button>
    			</div>

          <div class="col-md-4" id="rightAns">
              <div id="answer" class="row">
                  <h4><span class="label">Answer</span></h4>
                  <br>
                  <div class="ourP">
                    <h5>Our Model's Answer</h5>
                    <textarea placeholder="Our Projected Answer" style="resize:none" class="form-control" id="answer" rows="1" readonly>{{ my_answer }}</textarea>
                  </div>
                  <br><br>
                  <div class="bidaf">
                    <h5>BIDAF Answer</h5>
                    <textarea placeholder="BIDAF Model Answer" style="resize:none" class="form-control" id="answer" rows="1" readonly></textarea>
                  </div>
              </div>
          </div>
    		</div>
      </form>
    </div>
    <br>
    <div class="about">
      <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspThis project's main objective is to implement different and novel approaches to autonomous question answering systems. Here we are evaluating the advantages and disadvantages of the two different methods. We are studying each approach methodically in order to generate the best case results under which each scenario, that can be used to solve queries and answer the questions efficiently.</p>
    </div>
    <br>
    <div>
			<p>Reference : <a href="https://seominjoon.github.io" target="_blank">Minjoon Seo</a>, <a href="http://allenai.org/team/anik/papers.html" target="_blank">Aniruddha Kembhavi</a>, <a href="https://homes.cs.washington.edu/~ali/index.html" target="_blank">Ali Farhadi</a>, <a href="https://ssli.ee.washington.edu/~hannaneh/index.html" target="_blank">Hannaneh Hajishirzi</a>. "Bidirectional Attention Flow for Machine Comprehension" [<a href="https://arxiv.org/abs/1611.01603" target="_blank">link</a>]</p>
		</div>
    <br>
    <script type="text/javascript">
      document.getElementById("myForm").reset();
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../static/jquery-3.1.0.min.js"></script>
    <script src="../static/jszip.min.js"></script>
    <!-- <script src="../static/index.js"></script> -->

  </body>
</html>
