<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Knowledge Graph</title>
    <link rel="stylesheet" href="../static/styles/bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../static/styles/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/main.css">
  </head>
  <body>
    <div class="nav">
      <p id="mainTitle">Knowledge Graph representation with Question Answering</p>
      <div class="header">
        <p id="creaters">Project By: Vibhav Nirmal, Vedant Vachharajani, Stuti Sharma</p>
      </div>
    </div>
    <hr>
    <div class="mainclass">
      <div class="disclaimer">
        <p class="di">Select a paragraph and write your own question.</p>
        <p class="di">The answer is always a subphrase of the paragraph.</p>
      </div>
      <form action="{{ url_for('submit') }}" method="post" role="form" id="myForm">
        <div class="row">
          <div class="col-md-8" id="leftQues">
            <div class="row">
              <div class="col-md-2">
                <h4><span class="label">Paragraph</span></h4>
              </div>
              <div class="col-md-10" style="padding-top: 10px;">
                <select class="selectpara" name="para" style="width:450px;">
                  <option value="ownPara" default>Write Paragraph</option>
                  <!-- <option value="dicaprio">DiCaprio</option> -->
                  <!-- <option value="football">Manchester City Football Club</option> -->
                  <!-- <option value="general">General</option> -->
                </select>
              </div>
            </div>
            <br>
            <textarea placeholder="Select or write your own paragraph" style="resize:none" class="form-control" name="paragraph" id="paragraph" rows="3">{{ input_paragraph }}</textarea>
            <br>
            <div class="row">
              <div class="col-md-2">
                <h4><span class="label">Question</span></h4>
                <!-- <h4><span class="label label-default">Select Question</span></h4> -->
              </div>
              <div class="col-md-10" style="padding-top: 10px;">
                <select class="selectpara" name="para" style="width:450px;">
                  <option value="ownQues" default>Write Question</option>
                  <!-- <option value="dicaprio">Who acted in biopics?</option> -->
                  <!-- <option value="football">Where is Manchester City Football Club located?</option> -->
                  <!-- <option value="general">What did John buy?</option> -->
                </select>
              </div>
            </div>
            <br>
            <textarea placeholder="Select or ask your own question" style="resize:none" class="form-control" name="question" id="question" rows="1">{{ input_question }}</textarea>

            <br>
            <input id="btnSubmit" type="submit" name="submit" value="submit" class="btn btn-sm">
            <a href="{{ url_for('clear') }}"><button id="btnClear" type="button" name="clear" class="btn btn-sm">Clear</button></a>
    			</div>

          <div class="col-md-4" id="rightAns">
              <div id="answer" class="row">
                  <h4><span class="label">Answer</span></h4>
                  <br>
                  <div class="ourP">
                    <h5>Our Model's Answer</h5>
                    <textarea placeholder="Our Projected Answer" style="resize:none" class="form-control" id="answer1" rows="1" readonly>{{ my_answer }}</textarea>
                  </div>
                  <br>
              </div>
          </div>
    		</div>
      </form>
    </div>
    <br>
    <div class="about">
      <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspThis project's main objective is to implement different and novel approaches to autonomous question answering systems.</p>
    </div>
    <script type="text/javascript">
      document.getElementById("myForm").reset();
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../static/jquery-3.1.0.min.js"></script>
    <script src="../static/jszip.min.js"></script>
  </body>
</html>
